<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stepper v2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F3E7BEADC1B0975F0BE74BD02791578824E4BF0C</string>
				<key>dateExpires</key>
				<string>8/17/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T4774Y5G35.JRCC.Stepper-v2</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.background-delivery</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T4774Y5G35</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Stepper v2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a658927d-afc1-4f52-b875-ac3b772e9538</string>
				<key>dateExpires</key>
				<string>8/17/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: JRCC.Stepper-v2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T4774Y5G35</string>
				<key>name</key>
				<string>Jonathan Chan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
